body {
/*    background: #eef;*/
    padding: 0;
    margin: 0;
    background-color: #a72b00;
    background-image: url("pics/tile.png");
    background-repeat: repeat-x;
}
.answer {
	background: #ded;
	border: solid black 1px;
	margin: 1em auto;
	padding: 1em;
}

#cmdgroup {
    display: block;
    padding-top: 80px;
}

.blockcmd {
    display: block;
    background: black;
    border: solid #aaa 1px;
    padding: 0.3ex;
    margin: 1ex;
    float: left;
    font-weight: bold;
    width: 100px;
    text-align: center; 
    font-size: 80%;
}

#progressbar {
    width: 0;
    padding: 0;
    margin: 0;
    height: 1em;
    background: #88f;
}
#progressbase {
    padding: 0;
    margin: 1ex auto 1ex auto;
    background: #004;
    width: 90%;
    border: 2px ridge #aac;
}

.formBlock {
    float: left;
    clear: left;
    display: block;
    margin: 1em auto 1em 1em;
    border: groove 1px #800;
    background: #e86;
    padding: 1ex;
}

#decrBlock {
    display: block;
    border-left: solid #e86 2px;
    border-bottom: solid #e86 2px;
	background: #fde;
    width: 300px;
    margin: 0 0 auto auto;
    padding: 1ex;
    height: 40%;
    float: right;
}

a {
    color: white;
}
