body {
/*    background: #eef;*/
    padding: 0;
    margin: 0;
    background-color: #a72b00;
    background-image: url("pics/tile.png");
    background-repeat: repeat-x;
}
.answer {
	background: #ded;
	border: solid black 1px;
	margin: 1em 10% 1em 10%;
	padding: 1em;
}

#cmdgroup {
    display: block;
    padding-top: 133px;
}

.blockcmd {
    display: block;
    background: black;
    border: solid #aaa 1px;
    padding: 0.3ex;
    margin: 1ex;
    float: left;
    font-weight: bold;
    width: 100px;
    text-align: center; 
    font-size: 80%;
}

.blockcmd a {
    color: #ffb;
}

#progressbar {
    width: 0;
    padding: 0;
    margin: 0;
    height: 1em;
    background: #cb3;
}
#progressbase {
    padding: 0;
    margin: 1ex auto 1ex auto;
    background: #004;
    width: 0;
    border: 2px ridge #aac;
}

.formBlock {
/*    float: left;*/
    clear: left;
    display: block;
    margin: -1em auto 1em 0;
    border: groove 1px #800;
    background: #e86;
    padding: 1ex;
    width: 350px;
    z-index: 3;
}

label {
    font-size: 70%;
    text-align: right;
}

.lonelyFormBlock {
/*    float: right;*/
/*    clear: right;*/
    display: block;
    margin: 1em 1em 1em auto;
    border: groove 1px #800;
    background: #e86;
    padding: 1ex;
}

#playlist {
    display: block;
    float: right;
    background: #b87;
/*    margin-left: 380px;*/
/*    margin-right: 2em;*/
    width: auto;
/*    margin-top: -230px;*/
    border: groove 1px #800;
    padding-right: 1ex;
    position: absolute;
    right: -1px;
    top: 200px;
}

#descrBlock {
    display: block;
    border-left: solid #e86 2px;
    border-bottom: solid #e86 2px;
	background: #fde;
    position: absolute;
    top: 0;
    right: 0;
/*    width: 300px;*/
/*    margin: 0 0 auto auto;*/
    padding: 1ex;
    height: 100px;
/*    float: right;*/
}

a {
    color: black;
}
